<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schake.trip_peer" >

    <uses-sdk android:minSdkVersion="15" />

    // Benötigten Berechtigungen für die App.
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>


    <uses-permission android:name="com.example.permission.MAPS_RECEIVE"/>


    <application
        android:name=".TripPeerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAh9oWP_lolfPZ4vpd5Xd1-GDyXpwmx3TE"/>

        <activity
            android:name=".Hauptmenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UrlaubAktuell"
            android:label="@string/title_activity_urlaub_aktuell" >
        </activity>
        <activity
            android:name=".UrlaubNeu"
            android:label="@string/title_activity_urlaub_neu" >
        </activity>
        <activity
            android:name=".FotoNeu"
            android:label="@string/title_activity_foto_neu" >
        </activity>
        <activity
            android:name=".MapFragment">
        </activity>
        <activity
            android:name=".UrlaubArchiviert"
            android:label="@string/title_activity_urlaub_archiviert" >
        </activity>
        <activity
            android:name=".UrlaubFoto"
            android:label="@string/title_activity_urlaub_foto" >
        </activity>
        <activity
            android:name=".UrlaubUebersicht"
            android:label="@string/title_activity_urlaub_uebersicht" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".TestMap"
            android:label="@string/title_activity_test_map" >
        </activity>
    </application>

</manifest>